* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
    font-family: 'Rowdies', cursive;
    color: #fff;
    scroll-behavior: smooth;
    font-size: 30px;
}

header, footer {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 20px;
}

.language-switch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding: 10px 20px;
    column-gap: 10px;
}

.lang-button {
    cursor: pointer;
    transition: 0.3s;
}

.lang-button:hover {
    color: #bdae82;
}

.active {
    color: #bdae82;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 40px;
}

.github {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

.github:hover {
    color: #bdae82;
    transform: scale(1.1);
}

.course-link {
    display: inline-block;
    background-image: url(./assets/svg/rss.svg);
    width: 80px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s;
}

.course-link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transform: scale(1.1);
}