@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Merriweather';
    src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    overflow-x: hidden;

}


.section-title{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    text-align: center;
    background-color: #000000;
    margin: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    overflow-x: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background: url(assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    height:  90px;
    width: 1440px;
    }

.camera-icon {
    position: absolute;
    width: 50px;
    height: 40px;
    margin: 25px 0 25px 0;
    transition: 0.5s;
    cursor: pointer;
}

.camera-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-top: 0;
    height: 90px;
    padding: 0;
    
}

.lang-switch {
    display: flex;
    align-items: center;
}
.nav-item, .lang-switch-item-en, span, .lang-switch-item-ru {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;  
}

.lang-switch-item-ru, .lang-switch-item-en {
    cursor: pointer;

}

.lang-switch-item-en {
    margin-left: 36px;
    margin-right: 9px;
    color: #FFFFFF;
}

.lang-switch-item-ru {
    margin-left: 8px;
}

.lang-active {
    color: #bdae82;
}

.nav-item {
    padding-left: 30px;
}

.nav-link {
    text-decoration: none;
    transition: 0.5s;
    color: #FFFFFF;
}

.nav-link:hover {
    color: #BDAE82;
}

.dark-icon {
    background: url(./assets/svg/themedark.svg) no-repeat;
    width: 42px;
    height: 42px;
    margin-top: 25px;
    margin-left: 30px;
    transition: 0.5s;
}

.dark-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.light-icon {
    background: url(./assets/svg/themelight.svg) no-repeat;
    width: 42px;
    height: 42px;
    margin-top: 25px;
    margin-left: 30px;
    transition: 0.5s;
}

.light-icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    margin-top: 28px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}

.burger-line {
    width: 80%;
    height: 2px;
    background-color: #FFFFFF;
    margin: 3px 0;
    transition: all 0.5s ease-in-out;
}

.burger.open .burger-line-1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.burger.open .burger-line-2 {
    opacity: 0;
}

.burger.open .burger-line-3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

.hero-container {
    background: url(assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 820px;
    width: 1440px;
    margin: 0 auto;
}

.section-title-hero {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
    margin: 0;
}

.hero-section {
    width: 500px;
    margin: 0;
    padding-left: 80px;
    padding-right: 0;
    padding-top: 160px;

}

.hero-content {
    margin: 0;
    width: 470px;
    padding-top: 10px;
}

.button-gold {
    width: 220px;
    height: 55px;
    border: 0;
    margin-top: 25px;
    background-color: #BDAE82;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    transition: 0.5s;    
}

.button-gold:hover {
       color: #FFFFFF;
}

.title-wrapper {
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    width:  50%;
    margin: 0 auto;
}

#skills {
    margin: 0 auto;
    padding-top: 99px;
    width: 220px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px 0px 20px;
    margin: 0 auto;

}


.skills-item {
    display: inline-block;
    width: 280px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}

figure {
    margin: 0;
}

figcaption {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
}

.skills-content {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

#portfolio {
    padding-top: 110px;
    width: 280px;
    margin: 0 auto;
}

.button-black {
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;
    background-color: #000000;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    text-align: center;
    transition: 0.5s;
    margin-left: 2.5px;
    margin-right: 2.5px;   
}

.button-black:hover {
    color: #FFFFFF;
}

.button-black-active {
    color: #000000;
    background-color: #bdae82;
}

.portfolio-buttons {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 60px;
    padding-left: 0;
    margin: 0;      
}

.porfolio-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: space-between;
    row-gap: 20px;
    

}

.porfolio-photo {
    height: 560px;
}

#video {
    padding-top: 88px;
    width: 156px;
    margin: 0 auto;
}

.video-player {
    padding-top: 61px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    position: absolute;
    background: none;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.play-button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

#price {
    padding-top: 99px;
    width: 142px;
    margin: 0 auto;
}

.prices {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    gap: 25px;
}

h3 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 41px;
    margin-bottom: 0;
}

.price-item {
    text-align: center;
    border: 3px solid #BDAE82;
    width: 450px;
    height: 505px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;

}

.price-item span {
    display: block;
    line-height: 36px;
}

.cost-span {
    font-size: 18px;
}

.cost {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    padding-top: 26px;
    padding-bottom:26px;
}

.price-item button {
    margin-top: 39px;
}


.contacts-container {
    background: url(assets/img/contactsBg.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    height: 700px;
    width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}


.contacts {
    background-color: transparent;
    padding-top: 60px;
    padding-right: 224px;
}

.contacts-ru {
    padding-right: 20px;
}

.contacts-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;

}

textarea {
    resize: none;
}

::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    padding-left: 18px;
    
}

input {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    width: 450px;
    height: 50px;
    color: #FFFFFF;
    
}

textarea {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #BDAE82;
    width: 450px;
    height: 100px;
    color: #FFFFFF;
}

.button-contacts {
      margin-right: 230px;
      margin-top: 10px;
}

.footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 150px;
      align-items: center;
      line-height: 50px;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: #FFFFFF;
}

a:hover, a:active {
    color: #BDAE82;
}

.development-year {
    display: flex;
    column-gap: 20px;
}

.social-networks {
    display: flex;
    column-gap: 20px;
    padding-top: 15px;
}


.soc-net-span {
    transition: 0.5s;
}

.soc-net-span:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}


.course-link {
    padding-left: 17px;
}

@media (max-width: 768px) {
 .container {
    max-width: 768px;
    overflow: hidden;
 }

 .header-container {
     padding: 0 60px;
     width: calc(100% -40px);
 }

 .section {
    max-width: 768px;
 }

 .header-container {
     background: url(assets/img/bg768.jpg);
     padding: 0;
     
 }

 .camera-icon {
    margin-left: 60px;
 }

.dark-icon {
    margin-right: 140px;
}

.light-icon {margin-right: 140px;}

 .nav{
     position: fixed;
     top: 0;
     right: -620px;
     width: 620px;
     height: 100%;
     background-color: #000000;
     transition: 0.5s;
     z-index: 2;
     margin-left: auto;
}

.nav-open {
    position: fixed;
    top: 0;
    right: 0px;
    width: 620px;
    height: 100%;
    background-color: #000000;
    transition: 0.5s;
    z-index: 2;
    margin-left: auto;
}

.nav-list {
    flex-direction: column;
    padding-top: 125px;
    padding-left: 112px;
    justify-content: left;
    align-items: flex-start;

}

 .burger {
     display: flex;
     position: fixed;  
     margin-right: 60px;  
     right: 0px; 
 }

 .lang-switch {
     margin-left: 448px;
 }

 .lang-switch-item-ru {
    margin-left: 15px;
 }

 .hero-container {
    background: url(assets/img/bg768.jpg);
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 499px;
    max-width: 768px;
 }
   
.hero-section {
    padding-left: 60px;
    padding-top: 78px;
}

 .section-title-hero {
    font-size: 32px;
    line-height: 64px;
    font-weight: normal;
    
 }

 .hero-content {
     width: 390px;
     line-height: 24px;
     padding-top: 20px;
 }

 .button-gold {
     margin-top: 59px;
 }

 
  #skills {
    font-size: 32px;
    line-height: 40px; 
    width: 200px;
    padding-bottom: 19px;
    padding-top: 102px;
}

.skills-list {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 45px;
    row-gap: 76px;

}

figcaption {
    font-size: 20px;
    line-height: 40px;
    width: 280px;
    padding-top: 17px;
}

.skills-content {
    width: 280px;
    font-size: 18px;
    line-height: 22px;
}

.section-title {
    font-size: 32px;
    line-height: 80px;
}

#portfolio {
    padding-top: 162px;
    width: 230px;
}

.portfolio-buttons {
    flex-wrap: wrap;
    padding: 50px 30px 0 30px;
    row-gap: 5px;
}

.porfolio-container {
    justify-content: space-around;
    padding-top: 60px;
    row-gap: 12px;
}

#video {
    width: 131px;
    padding-top: 67px;
}

.video-player {
    max-width: 768px;
    height: 418px;
    padding-top: 100px;
}
.videoplayer-pic {
   width: 768px; 
   height: 418px;
      
}

.play-button, .play-button:hover, .play-button-pic {
 width: 60px;
 height: 60px;
}

#price {
    width: 122px;
    padding-top: 130px;
}

.prices {
    flex-wrap: wrap;
    padding-top: 50px;
    row-gap: 50px;
}

.price-item {
    width: 420px;
    height: 505px;    
}
.contacts-container {
    width: 768px;
    background: url(assets/img/contactsbg786.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 80px;
    height: 600px;
}

.contacts-section {
    align-items: center;
}

#contacts {
    font-size: 32px;
    line-height: 64px;
    padding-top: 60px;
    padding-right: 0;
}

.button-contacts {
    margin-right: 0;
    margin-top: 10px;
}

.footer-container {
    flex-direction: column;
    font-size: 20px;
    justify-content: start;
    line-height: 25px;
    padding-top: 15px;
}

.footer-container span {
    height: 25px;
}


.course-link {
    padding-top: 15px;
    padding-left: 0;
}


}   
   
