@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Merriweather';
    src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    background: url(assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    height:  90px;
    }

